# 1. 논리연산

In [1]:
num = 15

result = num > 10 and num <20

print(result)

True

In [3]:
num = 15

result = num > 10 and num < 15

print(result)

False

0

# 2. 할당 연산자

In [11]:
x = 5
y = 2
z = 10

x1 = y * z
x2 = x +y * z
x += y * z  # 값을 더한 뒤에 할당
print(x1)
print(x2)
print(x)

20
25
25

# 3 . 식별연산자

In [12]:
coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

True
True

In [13]:
coffee_employee = -6
orange_employee = -6

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

False
True

In [14]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

# 값은 True 지만 주소는 다르다
print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True

In [26]:
money = int(input("금액을 입력하세요"))

money5000 = money // 5000
money -= money5000 * money
print(f"5천원권은 {money5000} 장.")

금액을 입력하세요10000
5천원권은 2 장.

# 3. 멤버연산

In [23]:
fruits = ["사과", "바나나", "포도"]

print("사과" in fruits)
print("오렌지" not in fruits)
print("키위" in fruits)
print("키위" not in fruits)

True
True
False
True

In [27]:
b = 25

(b % 2 == 0) and (b % 5 == 0)

False

In [35]:
c = 1000

c /= 100

print(f"결과 값은 {int(c)} 입니다")

결과 값은 10 입니다

In [45]:
money = int(input("금액을 입력해주세요"))

m_5000 = money // 5000

money = money - (m_5000 * 5000)
print(m_5000,money)

금액을 입력해주세요12000
2 2000

In [49]:
money = int(input("교환할 금액을 입력하세요: "))

# 5000원 지폐 개수 계산
num_5000 = money // 5000
money = money - num_5000 * 5000

# 1000원 지폐 개수 계산
num_1000 = money // 1000
money = money - num_1000 * 1000

# 500원 동전 개수 계산
num_500 = money // 500
money = money - num_500 * 500

# 100원 동전 개수 계산
num_100 = money // 100

# 결과 출력
print("5000원 지폐 개수:", num_5000)
print("1000원 지폐 개수:", num_1000)
print("500원 동전 개수:", num_500)
print("100원 동전 개수:", num_100)

교환할 금액을 입력하세요: 12341
5000원 지폐 개수: 2
1000원 지폐 개수: 2
500원 동전 개수: 0
100원 동전 개수: 3

In [54]:
ori_price = float(input("제품의 가격을 입력해주세요"))
discount_rate = float(input("할인율을 입력해주세요"))


discounted_price = ori_price - (ori_price * discount_rate / 100 )

print(f"제품의 가격은 {int(discounted_price)} 입니다")

제품의 가격을 입력해주세요10000
할인율을 입력해주세요10
제품의 가격은 9000 입니다

In [60]:
name = input("성함을 입력해주세요")

성함을 입력해주세요한승일

In [ ]:
age = int(input("나이를 입력해주세요"))

In [ ]:
age +=1

In [ ]:
name_len = len(name)

In [ ]:
age >= 18 == True

In [69]:
name = input("성함을 입력해주세요")
age = int(input("나이를 입력해주세요"))
age +=1
name_len = len(name)
adult = age > 17

print(f"내년 나이는{age} 이고 이름의 길이는 {name_len}, 성인여부는 {adult} 입니다 ")

성함을 입력해주세요ㅁㄴㅇ
나이를 입력해주세요16
나이는17 이고 이름의 길이는 3, 성인여부는 False 입니다

성함을 입력해주세요한승일
나이를 입력해주세요18
성인입니다