# 1. 시퀀스 자료형

In [8]:
#1.1 인덱싱


example = 'abcde'
print(example[0])
print(example[-3::])
print(example[-3:-1])

a
cde
cd

In [12]:
# 특정 항목 포함여부

example = 'abcde'
print('a' in example) # 출력: True
print('z' in example) # 출력: False

True
False

In [13]:
print('a' not in example) # 출력: True
print('z' not in example) # 출력: False

False
True

In [15]:
example = 'abcdef'
print(len(example))  # 출력: 6
print(min(example))  # 출력: a
print(max(example))  # 출력: f

6
a
f

# 1. 패킹 (Packing)

In [23]:
# 튜플 패킹

packed_tuple = 1, 2, 3, 4, 5
print(type(packed_tuple))
print(packed_tuple)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [25]:
# 튜플 언패킹
a, b, c, d, e = packed_tuple
print(a)  # 출력: 1
print(e)  # 출력: 5

print(type(a))

1
5
<class 'int'>

In [28]:
print(range(3))

a,b,c = range(3)
print(a, b, c)

range(0, 3)
0 1 2

In [30]:
a,b,c = 'dog'

print(a)
print(b)
print(c)

d
o
g

In [35]:
user_num = int(input("숫자를 입력해주세요"))

total = 0

for i in range(user_num+1):
  total+=i


print(total)

숫자를 입력해주세요100
5050

In [32]:
# 별표를 이용한 언패킹

# 언패킹이 먼저 할당

first, *middle, last = [1,2,3,4,5]

print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

#2. 리스트

In [38]:
x = [1, 2, 3, 4, 5]

print(len(x))

5

In [41]:
# 리스트의 항목 변경
a = [1, 2, 3, 4, 5]
a[0]= 1004

print(a)

[1004, 2, 3, 4, 5]

In [ ]:
# 슬라이싱

l = [1, 2, 3, 4, 5]
print(l[:])     # 출력: [1, 2, 3, 4, 5]
print(l[::-1])  # 출력: [5, 4, 3, 2, 1]
print(l[::2])   # 출력: [1, 3, 5]
print(l[0:4][::-1]) # 출력: [3, 2, 1]

In [46]:
l = [1, 2, 3, 4, 5]
print(l)
print(l[::-1])
print(l[::2])
print((l[0:4][::-1]))

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]
[4, 3, 2, 1]

In [ ]:
# 데이터가 크다. 내가 원하는대로 데이터를 추출하고 싶다.

# 1. 샘플링 -> 1억개 데이터 -> 천개추출! -> 리스트 슬라이싱! 메서드! -> 1억개 데이터에 적용