# 함수와 인사하기

In [ ]:
# 1. 함수 만들어보기

def seungil():

'where are you from?'

In [ ]:
#2. 들여쓰기
def my_function():
    print("1")
    print("2")
print("3")


my_function()

3
1
2

In [ ]:
import random

x = random.randint(0,4)
def hungry():
    if x == 1:
        return "부대찌개"

    elif x == 0:
        return "컵라면"

    elif x == 2:
        return "국밥"
    elif x == 3:
        return "삼각김밥"


    else:
        return "내가 먹고 싶은거로"


lunch = hungry()
print(f"오늘 점심 메뉴는 {lunch} 입니다.")

오늘 점심 메뉴는 내가 먹고 싶은거로 입니다.

In [ ]:
# - **선언**: **`def`**

#     함수는 **`def`** 키워드를 사용하여 선언됩니다.

# - **이름**: **`function_name`**

#     함수의 이름은 함수를 식별하는 데 사용되며, 일반 변수의 이름을 지정하는 규칙에 따릅니다. 이 이름을 사용하여 함수를 나중에 호출할 수 있습니다.

# - **입력**:  **`x, y`**는 **`function_name`**에서 사용할 변수, 매개변수(파라미터, parameter)

#     함수는 파라미터(parameter, 매개변수, 인자)를 통해 외부에서 들어온 아규먼트(argument, 인수)를 입력 받습니다.
#     이 파라미터는 함수 호출 시에 함께 전달한 10, 9를 각각 x, y로 받아들입니다. 모든 함수가 파라미터를 필요로 하는 것은 아닙니다.
#     파라미터가 없는 함수도 있으며, 이러한 함수는 괄호 안에 어떤 값도 받지 않습니다.

#     이 책에서는 매개변수와 인수라는 용어 대신 파라미터와 아규먼트로 원문 그대로 읽도록 하겠습니다.

# - **기능과 연산**: **`z = x + y`**는 **`function`**의 내부에서 수행되는 연산

#     함수 본문에서는 다양한 연산과 처리 과정을 수행할 수 있습니다. 이 부분에서 변수에 값을 할당하거나, 데이터 구조를 조작하는 등의 작업을 수행합니다.

#     함수의 범위는 4칸 들여쓰기 된 곳까지 입니다. 만약 4칸 들여쓰기가 되어있지 않다면 해당 코드는 함수 바깥에 있는 코드입니다.
#     반드시 한 줄은 명시를 해야 합니다.
#     아무 코드를 넣지 않은 경우에는 `pass` 키워드를 넣어 애러가 나지 않게 합니다.
#     보통 함수의 골격을 잡을 때 `pass` 키워드를 사용합니다.

In [ ]:
def function_name(num1, num2):
    z = num1+ num2
    return z
print(f'function_name(10, 9) = {function_name(10, 9)}')

function_name(10, 9) = 19

In [ ]:
# 리턴이 없을때

def function(x, y):
    z = x * y




print(f"{function(1,2) = }") # none이 출력 됌

function(1,2) = None

In [ ]:
def function(x, y):
    z = x * y
    return z  # 리턴이 중요하다!, 리턴이 없으면 반환값이 없다?



print(f"{function(1,2) = }")

function(1,2) = 2

In [ ]:
def function(x, y):
    z = x * y
    return z  # 리턴이 중요하다!, 리턴이 없으면 반환값이 없다?



print(f"{function(1,2) = }") # 아규먼트(1, 2) 를 함수의 파라미터로 전달

In [ ]:
def test_bot():

    pass # 임시로 값을 넣어두는 기능 !


test_bot()

In [ ]:
# 2.1 입력 매개변수가 없고 반환값도 없는 함수

def simple_function():
    print("hello world")



# 함수 호출

print(simple_function()) # 함수는 return 값을 찾겠구나!, none..

hello world
None

In [ ]:
# 2, 2 파라미터가 없고 반환값은 있는 함수

def give_me_five():
    return 5


result = give_me_five()

print(result)

5

In [ ]:
# 2. 입력 매개변수가 있고, 반환 값이 없는 함수

def greeting(name):
    print(f'hello,{name}')


greeting('licat')

In [ ]:
# 2. 4 입력 매개변수가 있고, 반환 값이 있는 함수


def add_numbers(x, y):
    sum = x + y
    return sum



result = add_numbers(5, 3)

print(result)

8

In [ ]:
## 3.1 print와 return의 구분

# `print`는 함수
# 아래 예제에서 `function(5, 7)`을 호출한 값을 출력해 보았더니
#`None`이 출력 함수의 return 값이 없기 때문입니다.

In [ ]:
def f(a, b, c):
    print(a, b, c)



f(100, 200, 300)
f(a=100, b=200, c=300)
f(a=300, b=100, c=200)
f(c=20,a=30, b=50)

100 200 300
100 200 300
300 100 200
30 50 20

In [ ]:
# 1.3.2 기본 값을 가지는 파라미터

def f(a=10, b=20, c=30):
    print(a, b, c)



f()
f(100) # 넣어주는 부분만 바뀌네, 아규먼트와 파라미터 숫자를 맞춰주지 않아도 기본값이 있으면 실행이 되네
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 20 30
100 200 300
100 200 300

In [ ]:

#파이썬에서는 기본값이 있는 매개변수들은 기본값이 없는 매개변수 뒤에 위치해야 함.

# 잘못된 예

def f(a=10, b=20, c):
    print(a, b, c) # error

# 올바른 예

def f(a10, b=20, c=10):
    print(a, b, c)

In [ ]:
# 컨밴션 자료형을 아규먼트로 넣었을 때

def add_element(my_list):
    my_list.append(1)

a = [2, 3 ,4]
add_element(a)

print(a)

[2, 3, 4, 1]

In [13]:
#1.4.2 권장되지 않는 기본값

# 권장하지않는 방법

def append_to_list(value, lst=[]):
    lst.append(value)
    return lst


append_to_list(1)
append_to_list(2)
append_to_list(3)

[1, 2, 3]

In [14]:
append_to_list(4)# 업데이트한 값으로 출력이 나옴

[1, 2, 3, 4]

In [17]:
# 권장 방법
def append_to_list(value, lst=None):
    if lst is None: # 아규먼트에 리스트가 비어있으면 새로운 리스트를 생성
        lst = []
    lst.append(value)
    return lst


append_to_list(1)
append_to_list(2)

[2]

In [ ]:
# 지역 변수 사용 예시

def f():
    # 강원도 지역화폐는 => 경기도에서 사용불가
    a = 1
    print(a)

f()
print(a) # error : a 는 f 함수 내부에서만 정의되었습니다.


# 지역 변수는 함수내부에만 정의되어 있다 이를 통해
#다른 함수나 프로그램 전체에 영향을 주지않고
#함수 내부에서만 데이터를 관리

In [34]:
def f():
    # 강원도 지역화폐는 => 경기도에서 사용불가
    a = 1 # 지역변수 함수 내에서만 사용가능

    b = 100
    c = 1000
    def ff():
        pass
    print(locals()) # 출력 : {'a': 1} 지역변수가 어떤게 있는지 확인

f()

{'a': 1, 'b': 100, 'c': 1000, 'ff': <function f.<locals>.ff at 0x7c1ee86ac3a0>}

In [48]:
# global 함수 전역변수 지정
a = 100
def f():
    global a # 이 구문으로 a를 바깥에서도 사용
    a = a + 1
    return a



print(f())

print(a)

101
101

In [ ]:
# global 사용안하면 오류
a = 100
def f():

    a = a + 1



print(f())

print(a)

In [52]:
a = 100

def f():
    a = 1000
    print(a)


f()

1000

In [59]:


def f():
    a = 100
    a = a + 1
    return a



print(f())

101

# Built in function

all() 함수는 iterable(반복 가능한) 객체(예: 리스트, 튜플, 문자열 등)를 인수로 받아,
그 안에 있는 모든 요소가 True로 평가되면 True를 반환하고,
 그렇지 않으면 False를 반환합니다.

In [61]:
# 모두 다 True여야 True 반환
all([True, True, True]) # 출력: Ture
all([True, True, False]) # 출력: False
all([1, 1, 1, 0]) # 출력: False
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True

True

In [ ]:
# 2.3 Map 함수

In [65]:
# 첫번째 방법

l = [1,2,3,4]


def 제곱(x):
    result = x **2
    return result
list(map(제곱, l)) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

In [63]:
# 두번째 방법
list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

In [68]:
# filter 함수
# filter() 함수는 순회할 수 있는 객체의 요소 중
#  특정 조건을 만족하는 요소만을 선택하여 반환합니다

sum(list(filter(lambda x : x > 50, range(1,101))))

3775

In [70]:
#zip 함수

list(zip('ab','12'))

[('a', '1'), ('b', '2')]

In [71]:
list(zip('ab','12',[10,20]))

[('a', '1', 10), ('b', '2', 20)]

In [72]:
list(zip('abc', '1234567', [10, 20, 30]))

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [75]:
# 2.10.3
l = [1, 2, 3 ,4]

for idx, i in enumerate(l):
    print(idx,i)

0 1
1 2
2 3
3 4

In [89]:
values = ['김진환', '이호준', '라이켓', '웅이']

result = (list(enumerate(values)))
# print(result, type(result))

1

In [90]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I')
    함수2()
    return "python"


a = 함수1()
print(a)

I
love
python

In [91]:
def plus(num1, num2):
	#이곳을 채워주세요

def minus(num1, num2):
	#이곳을 채워주세요

def multiply(num1, num2):
	#이곳을 채워주세요

def divide(num1, num2):
	#이곳을 채워주세요

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-91-5506162f96b0>, line 4)

In [92]:
#문제.2

def plus(num1, num2):
    return num1 + num2

def minus (num1, num2):
    return num1 - num2

def multiply(num1, num2):
    return num1 * num2

def divide(num1, num2):
    return num1/ num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [94]:
a = 2
b = 3
def result(num1,num2):
    return (num1+num2) * (num1-num2)

result(a,b)

-5

In [95]:
def 제곱(x, n):
    result = x**n
    return result

제곱(2,3)

8

In [131]:
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

result=list(filter(lambda x : 'CEO' in x[0], data))
print(result)

result =str(result).split()

result[2][0:5]

[['weniv CEO licat', 1]]

'licat'

In [141]:
def is_palindrome(s):
    if s == s[::-1]:
        return True
    else:
        return False



print(is_palindrome('kes'))
print(is_palindrome('기러기'))
print(is_palindrome('우영우'))

False
True
True

In [144]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x : x % 2 !=0, numbers))

[3, 5, 7, 9]

In [168]:
data = [
    [2, 'hello world', 30],
    [3, 'hworl', 33],
    [5, 'hello wo', 35],
    [4, 'hello w', 31],
    [6, 'hello w', 39]
]

# 1번째 문제: 첫 번째 요소의 값을 정렬하세요.
sorted(data)

[[2, 'hello world', 30],
 [3, 'hworl', 33],
 [4, 'hello w', 31],
 [5, 'hello wo', 35],
 [6, 'hello w', 39]]

In [158]:
sorted(data,key=lambda x:len(x[1]))

[[3, 'hworl', 33],
 [4, 'hello w', 31],
 [6, 'hello w', 39],
 [5, 'hello wo', 35],
 [2, 'hello world', 30]]

In [165]:
# 3번째 문제: 세 번째 요소 기준으로 정렬하세요.

sorted(data, key=lambda x : (x[2]))

[[2, 'hello world', 30],
 [4, 'hello w', 31],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [6, 'hello w', 39]]

In [169]:
# 4번째 문제: 첫번째 요소와 세 번째 요소의 차가 큰 순으로 출력해주세요.
# 예를 들어 [2, 'hello world', 30]의 경우 30 - 2 == 28입니다. 이런 차 순서대로 출력하시면 됩니다.

sorted(data, key=lambda x : (x[2]-x[0]),reverse=True)

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello world', 30],
 [4, 'hello w', 31]]

In [195]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

num_list = list(zip(숫자,승수))
result = []
for idx, i in num_list:
    result.append(idx**i)


print(result)

print(list((filter(lambda x : x > 100, result))))

[1, 4, 9, 64, 125]
[125]

In [194]:
list(map(lambda x : x[0]**x[1], zip(숫자,승수)))

[1, 4, 9, 64, 125]

In [192]:
sum(result)

203