# 함수와 인사하기

In [ ]:
# 1. 함수 만들어보기

def seungil():

'where are you from?'

In [ ]:
#2. 들여쓰기
def my_function():
    print("1")
    print("2")
print("3")


my_function()

3
1
2

In [ ]:
import random

x = random.randint(0,4)
def hungry():
    if x == 1:
        return "부대찌개"

    elif x == 0:
        return "컵라면"

    elif x == 2:
        return "국밥"
    elif x == 3:
        return "삼각김밥"


    else:
        return "내가 먹고 싶은거로"


lunch = hungry()
print(f"오늘 점심 메뉴는 {lunch} 입니다.")

오늘 점심 메뉴는 내가 먹고 싶은거로 입니다.

In [ ]:
# - **선언**: **`def`**

#     함수는 **`def`** 키워드를 사용하여 선언됩니다.

# - **이름**: **`function_name`**

#     함수의 이름은 함수를 식별하는 데 사용되며, 일반 변수의 이름을 지정하는 규칙에 따릅니다. 이 이름을 사용하여 함수를 나중에 호출할 수 있습니다.

# - **입력**:  **`x, y`**는 **`function_name`**에서 사용할 변수, 매개변수(파라미터, parameter)

#     함수는 파라미터(parameter, 매개변수, 인자)를 통해 외부에서 들어온 아규먼트(argument, 인수)를 입력 받습니다.
#     이 파라미터는 함수 호출 시에 함께 전달한 10, 9를 각각 x, y로 받아들입니다. 모든 함수가 파라미터를 필요로 하는 것은 아닙니다.
#     파라미터가 없는 함수도 있으며, 이러한 함수는 괄호 안에 어떤 값도 받지 않습니다.

#     이 책에서는 매개변수와 인수라는 용어 대신 파라미터와 아규먼트로 원문 그대로 읽도록 하겠습니다.

# - **기능과 연산**: **`z = x + y`**는 **`function`**의 내부에서 수행되는 연산

#     함수 본문에서는 다양한 연산과 처리 과정을 수행할 수 있습니다. 이 부분에서 변수에 값을 할당하거나, 데이터 구조를 조작하는 등의 작업을 수행합니다.

#     함수의 범위는 4칸 들여쓰기 된 곳까지 입니다. 만약 4칸 들여쓰기가 되어있지 않다면 해당 코드는 함수 바깥에 있는 코드입니다.
#     반드시 한 줄은 명시를 해야 합니다.
#     아무 코드를 넣지 않은 경우에는 `pass` 키워드를 넣어 애러가 나지 않게 합니다.
#     보통 함수의 골격을 잡을 때 `pass` 키워드를 사용합니다.

In [ ]:
def function_name(num1, num2):
    z = num1+ num2
    return z
print(f'function_name(10, 9) = {function_name(10, 9)}')

function_name(10, 9) = 19

In [ ]:
# 리턴이 없을때

def function(x, y):
    z = x * y




print(f"{function(1,2) = }") # none이 출력 됌

function(1,2) = None

In [ ]:
def function(x, y):
    z = x * y
    return z  # 리턴이 중요하다!, 리턴이 없으면 반환값이 없다?



print(f"{function(1,2) = }")

function(1,2) = 2

In [ ]:
def function(x, y):
    z = x * y
    return z  # 리턴이 중요하다!, 리턴이 없으면 반환값이 없다?



print(f"{function(1,2) = }") # 아규먼트(1, 2) 를 함수의 파라미터로 전달

In [ ]:
def test_bot():

    pass # 임시로 값을 넣어두는 기능 !


test_bot()

In [ ]:
# 2.1 입력 매개변수가 없고 반환값도 없는 함수

def simple_function():
    print("hello world")



# 함수 호출

print(simple_function()) # 함수는 return 값을 찾겠구나!, none..

hello world
None

In [ ]:
# 2, 2 파라미터가 없고 반환값은 있는 함수

def give_me_five():
    return 5


result = give_me_five()

print(result)

5

In [ ]:
# 2. 입력 매개변수가 있고, 반환 값이 없는 함수

def greeting(name):
    print(f'hello,{name}')


greeting('licat')

In [ ]:
# 2. 4 입력 매개변수가 있고, 반환 값이 있는 함수


def add_numbers(x, y):
    sum = x + y
    return sum



result = add_numbers(5, 3)

print(result)

8

In [ ]:
## 3.1 print와 return의 구분

# `print`는 함수
# 아래 예제에서 `function(5, 7)`을 호출한 값을 출력해 보았더니
#`None`이 출력 함수의 return 값이 없기 때문입니다.

In [ ]:
def f(a, b, c):
    print(a, b, c)



f(100, 200, 300)
f(a=100, b=200, c=300)
f(a=300, b=100, c=200)
f(c=20,a=30, b=50)

100 200 300
100 200 300
300 100 200
30 50 20

In [ ]:
# 1.3.2 기본 값을 가지는 파라미터

def f(a=10, b=20, c=30):
    print(a, b, c)



f()
f(100) # 넣어주는 부분만 바뀌네, 아규먼트와 파라미터 숫자를 맞춰주지 않아도 기본값이 있으면 실행이 되네
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 20 30
100 200 300
100 200 300

In [ ]:

#파이썬에서는 기본값이 있는 매개변수들은 기본값이 없는 매개변수 뒤에 위치해야 함.

# 잘못된 예

def f(a=10, b=20, c):
    print(a, b, c) # error

# 올바른 예

def f(a10, b=20, c=10):
    print(a, b, c)

In [ ]:
# 컨밴션 자료형을 아규먼트로 넣었을 때

def add_element(my_list):
    my_list.append(1)

a = [2, 3 ,4]
add_element(a)

print(a)

[2, 3, 4, 1]