#1. 조건문

In [10]:
# 1.1 if 문의 기본 구조

# if 다음에 조건이 참인 경우에만 코드 블록이 실행된다.

x = 2

if x > 1:
    print('True')

# 참이 아닌 경우 조건문이 실행되지 않음

True

In [11]:
# 결국 x = 2 일대 if x > 1 은 > True

if True:
    print('True')

True

In [15]:
if -1:     # 0 이 아닌 정수는 True로 반환
    print('hello')

print('end')

hello
end

In [19]:
# 공백이 있는 문자열
if ' ':
    print('hello')
print('end')

# 공백이 없는 문자열
if '':
    print('hello')
print('end')

hello
end
end

In [18]:
# none인 경우에도 거짓으로 평가

if not '':
    print('hello')
print('end')

if None: # None은 False로 처리됩니다.
    print('hello')
print('end')

if not None:
    print('hello')
print('end')

hello
end

## **`if`**문의 조건에는 불리언(boolean) 표현식이 사용됩니다. 이 표현식은 **`True`** 또는 **`False`** 값을 결과로 반환해야 합니다. 여기 몇 가지 예시가 있습니다:

- 비교 연산자: **`==`**, **`!=`**, **`<`**, **`<=`**, **`>`**, **`>=`**
- 논리 연산자: **`and`**, **`or`**, **`not`**
- 멤버십 연산자: **`in`**, **`not in`**
- 식별 연산자: **`is`**, **`is not`**
- 다른 함수의 반환 값이나 변수의 값 (이 값들이 결국 불리언으로 평가됨)

In [32]:
# 단락평가


def f():
    return True


def ff():

    x = 100 / 0 # error
    return 'hello'

if f() or ff():
    print('hello')

hello

In [34]:
x = 5
y = 10

result = 'x가 더큽니다' if x > y else 'y와 같거나 y가 더 큽니다'

print(result)

y와 같거나 y가 더 큽니다

In [35]:
def f(x, y):
    return x if x > y else y

In [36]:
f(5,10)

10

In [50]:
x =10
my_function = lambda x : 'Even' if x % 2 == 0 else 'odd'
print(type(my_function))

<class 'function'>

odd

In [60]:
def my_func(x):
    return 'Even' if x % 2 == 0 else 'Odd'

print(my_func(10))

Even

# 2. if, elif, else 와 중첩 조건문

In [ ]:
# if, else문의 기본구조
if 조건문: # 조건문을 확인해서 만약 '참'이면 if 문 다음에 문장들은 수행합니다.
    pass
	  # 참일경우 수행할 문장 1
else: # if문의 조건이 거짓이면 else 문이 실행됩니다.
    pass
	  # 수행할 문장 2

In [64]:
x = 3
y = 5

if x > y:
    print('x가 더 큽니다')

else:
    print('두번째 값이 더크거나 같습니다')

두번째 값이 더크거나 같습니다

In [ ]:
# if, elif, else문의 기본구조

if 조건문: # 조건문을 확인해서 만약 '참'이면 if 문 다음에 문장들은 수행합니다.
	  # 수행할 문장 1
    pass
elif: # if문의 조건이 '참'이 아니라면 elif 문의 조건문이 참이라면 수행한다.
	  # 수행할 문장 2
    pass
else: # 위 모든 if문, elif문의 조건이 '참'이 아니라면 수행합니다.
	  # 수행할 문장 3
    pass

In [65]:
score = int(input("성적을 입력하세요 (0-100): "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

성적을 입력하세요 (0-100): 90
A

In [ ]:
score = 81
money = 0

if score >= 90:
    money += 1000000
elif score >= 80:
    money += 100000
elif score >= 70:
    money += 10000
elif score >= 60:
    money += 1000
else:
    money = 0
print(money) # 출력: 100000

In [69]:
score = 81
money = 0

if score >= 90:
    money += 1000000
if score >= 80:
    money += 100000
if score >= 70:
    money += 10000
if score >= 60:
    money += 1000
else:
    money = 0
print(money) # 출력: 111000

111000

In [78]:
# if를 중첩해서 사용하기
movie = {
    '영화': '레미제라블',
    '장르': '드라마',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == '드라마':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청') # 출력: 영화시청

영화시청

In [85]:
movie = {
    '영화': '레미제라블',
    '장르': '드라마',
    '서비스': '디즈니',
    '비용': 19000,
    '평점': 4.9
}


if movie['장르'] == '드라마':
    if movie['서비스'] =='디즈니':
        if movie['평점'] > 4.8:
            if movie['비용'] <= 18000:
                print("가성비가 괜찮습니다")
            else:
                    print("가성비가 나쁩니다")

가성비가 나쁩니다

In [ ]:
if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청') # 출력: 영화시청

In [95]:
movie = {
    '영화': '레미제라블',
    '장르': '드라마',
    '서비스': '디즈니',
    '비용': 23000,
    '평점': 4.9
}


if movie['장르'] == '드라마' and (movie['서비스'] == '디즈니' or movie['서비스'] == '웨이브') and movie['평점'] >= 4.5 and movie['비용'] <=20000:
    print('봐도 괜찮을거 같습니다')
else:
    print("티빙으로 옮기세요")

티빙으로 옮기세요

# 반복문

In [97]:
for x in 'hello':
    print(f'현재 값은 {x} 입니다')

현재 값은 h 입니다
현재 값은 e 입니다
현재 값은 l 입니다
현재 값은 l 입니다
현재 값은 o 입니다

In [98]:
for i in (1, 2, 3, 4, 5):
    print(f'현재 값은 {i} 입니다')

현재 값은 1 입니다
현재 값은 2 입니다
현재 값은 3 입니다
현재 값은 4 입니다
현재 값은 5 입니다

In [99]:
s = 'hello world'

for i in s:
    print(i) # 공백도 하나의 자료로 출력

h
e
l
l
o

w
o
r
l
d

In [102]:
s = '123'

result = 0

for i in s:
    result += int(i)


print(result)

6

In [104]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전:
    print(i)

('하나', 'one')
('둘', 'two')
('셋', 'three')

In [105]:
for i in 단어_사전.items():
    print(i)

('하나', 'one')
('둘', 'two')
('셋', 'three')

In [107]:
for idx, i in 단어_사전:
    print(idx, i)

하 나

ValueError: not enough values to unpack (expected 2, got 1)

In [127]:
result = sum(filter(lambda x : x % 2 == 0, range(101)))

print(result)

2550

In [128]:

result = 0
for i in range(1,101):
    if i % 2 == 0 :
        result += i

print(result)

2550

# 2. 중첩 for 문

In [ ]:
# code1
for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i:
        print(i)
        print(j)

In [ ]:
#1. 구조를 정한다
#2. 최소한의 반복문만 수행한다.
#3. 각 반복문을 print 해본다

In [149]:
for i in range(2, 10):
    print()
    print(f'--{i}--단')
    print()
    for j in range(1, 10):
        print(f" {i} X {j} = {i*j}")

--2--단

 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18

--3--단

 3 X 1 = 3
 3 X 2 = 6
 3 X 3 = 9
 3 X 4 = 12
 3 X 5 = 15
 3 X 6 = 18
 3 X 7 = 21
 3 X 8 = 24
 3 X 9 = 27

--4--단

 4 X 1 = 4
 4 X 2 = 8
 4 X 3 = 12
 4 X 4 = 16
 4 X 5 = 20
 4 X 6 = 24
 4 X 7 = 28
 4 X 8 = 32
 4 X 9 = 36

--5--단

 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45

--6--단

 6 X 1 = 6
 6 X 2 = 12
 6 X 3 = 18
 6 X 4 = 24
 6 X 5 = 30
 6 X 6 = 36
 6 X 7 = 42
 6 X 8 = 48
 6 X 9 = 54

--7--단

 7 X 1 = 7
 7 X 2 = 14
 7 X 3 = 21
 7 X 4 = 28
 7 X 5 = 35
 7 X 6 = 42
 7 X 7 = 49
 7 X 8 = 56
 7 X 9 = 63

--8--단

 8 X 1 = 8
 8 X 2 = 16
 8 X 3 = 24
 8 X 4 = 32
 8 X 5 = 40
 8 X 6 = 48
 8 X 7 = 56
 8 X 8 = 64
 8 X 9 = 72

--9--단

 9 X 1 = 9
 9 X 2 = 18
 9 X 3 = 27
 9 X 4 = 36
 9 X 5 = 45
 9 X 6 = 54
 9 X 7 = 63
 9 X 8 = 72
 9 X 9 = 81

In [150]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [ ]:
# step1 list안에 for문을 가져옵니다.
# [for i in range(1, 10)]

# step2 append 항목을 앞으로 가져옵니다.
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]

# [추가할변수_또는_표현식 for 변수 in 특정범위]

In [154]:
# 컴프리헨션 + 조건문

l = [i for i in range(1,10) if i % 2 ==0]

print(l)

[2, 4, 6, 8]

In [156]:
c = [f'{i} x {j} = {i*j}'for i in range(2,10)for j in range(1,10)]

print(c)

['2 x 1 = 2', '2 x 2 = 4', '2 x 3 = 6', '2 x 4 = 8', '2 x 5 = 10', '2 x 6 = 12', '2 x 7 = 14', '2 x 8 = 16', '2 x 9 = 18', '3 x 1 = 3', '3 x 2 = 6', '3 x 3 = 9', '3 x 4 = 12', '3 x 5 = 15', '3 x 6 = 18', '3 x 7 = 21', '3 x 8 = 24', '3 x 9 = 27', '4 x 1 = 4', '4 x 2 = 8', '4 x 3 = 12', '4 x 4 = 16', '4 x 5 = 20', '4 x 6 = 24', '4 x 7 = 28', '4 x 8 = 32', '4 x 9 = 36', '5 x 1 = 5', '5 x 2 = 10', '5 x 3 = 15', '5 x 4 = 20', '5 x 5 = 25', '5 x 6 = 30', '5 x 7 = 35', '5 x 8 = 40', '5 x 9 = 45', '6 x 1 = 6', '6 x 2 = 12', '6 x 3 = 18', '6 x 4 = 24', '6 x 5 = 30', '6 x 6 = 36', '6 x 7 = 42', '6 x 8 = 48', '6 x 9 = 54', '7 x 1 = 7', '7 x 2 = 14', '7 x 3 = 21', '7 x 4 = 28', '7 x 5 = 35', '7 x 6 = 42', '7 x 7 = 49', '7 x 8 = 56', '7 x 9 = 63', '8 x 1 = 8', '8 x 2 = 16', '8 x 3 = 24', '8 x 4 = 32', '8 x 5 = 40', '8 x 6 = 48', '8 x 7 = 56', '8 x 8 = 64', '8 x 9 = 72', '9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81']

In [158]:
# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

In [160]:
print(cc)

[['2 × 1 = 2', '2 × 2 = 4', '2 × 3 = 6', '2 × 4 = 8', '2 × 5 = 10', '2 × 6 = 12', '2 × 7 = 14', '2 × 8 = 16', '2 × 9 = 18'], ['3 × 1 = 3', '3 × 2 = 6', '3 × 3 = 9', '3 × 4 = 12', '3 × 5 = 15', '3 × 6 = 18', '3 × 7 = 21', '3 × 8 = 24', '3 × 9 = 27'], ['4 × 1 = 4', '4 × 2 = 8', '4 × 3 = 12', '4 × 4 = 16', '4 × 5 = 20', '4 × 6 = 24', '4 × 7 = 28', '4 × 8 = 32', '4 × 9 = 36'], ['5 × 1 = 5', '5 × 2 = 10', '5 × 3 = 15', '5 × 4 = 20', '5 × 5 = 25', '5 × 6 = 30', '5 × 7 = 35', '5 × 8 = 40', '5 × 9 = 45'], ['6 × 1 = 6', '6 × 2 = 12', '6 × 3 = 18', '6 × 4 = 24', '6 × 5 = 30', '6 × 6 = 36', '6 × 7 = 42', '6 × 8 = 48', '6 × 9 = 54'], ['7 × 1 = 7', '7 × 2 = 14', '7 × 3 = 21', '7 × 4 = 28', '7 × 5 = 35', '7 × 6 = 42', '7 × 7 = 49', '7 × 8 = 56', '7 × 9 = 63'], ['8 × 1 = 8', '8 × 2 = 16', '8 × 3 = 24', '8 × 4 = 32', '8 × 5 = 40', '8 × 6 = 48', '8 × 7 = 56', '8 × 8 = 64', '8 × 9 = 72'], ['9 × 1 = 9', '9 × 2 = 18', '9 × 3 = 27', '9 × 4 = 36', '9 × 5 = 45', '9 × 6 = 54', '9 × 7 = 63', '9 × 8 = 72', '9 × 9 = 81']]

In [162]:
def sumthingFunction(i):
    if i % 100 == 0:
        return i
    else:
        return 0


l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l]

l

[100, 200, 300, 0, 0, 0]

In [171]:
# 딕셔너리 컴프리헨션

# 전통적인 방법
d = {}
for i in range(5):
    d[i] = i**2

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [173]:
for i, j, k in ['abc', 'def', 'ghi']:
    print(type(i), j, k)

<class 'str'> b c
<class 'str'> e f
<class 'str'> h i

In [174]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill: # 튜플을 언패킹
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [176]:
skill = [
        ('고기잡이', 100,"클릭"),
        ('고기팔기', 120,"클릭"),
        ('낚시', 5,"클릭"),
        ('통발', 5,"클릭"),
        ('큰그물', 5,"클릭")
]


for skillName, skilLevel, skilGuide in skill:
    print(skillName,skilLevel,skilGuide)

고기잡이 100 클릭
고기팔기 120 클릭
낚시 5 클릭
통발 5 클릭
큰그물 5 클릭

In [177]:
# 인덱스 번호를 생성해주고 요소를 튜플로 묶음

영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [182]:
for i, j in enumerate(영화누적관객수, 1): # 1을 써주면 인덱스 1번호부터 시작하는듯
    print(f'누적관객수 {i}위! {j}!')

누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

# 3. While 문

In [ ]:
while 구문:
    pass # 수행할 문장

In [189]:
a = 1

while a < 10:
    print(a)
    a += 1

# for 문 기초

for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

## 스무고개 숫자 맞추기

In [200]:
import random

user_num = int(input("임의의 숫자를 넣어주세요"))

ran_num = random.randrange(1, 101)
print(ran_num)

if ran_num > user_num:
    print("숫자가 작습니다")

elif user_num > ran_num:
    print("숫자가 큽니다")

elif user_num == ran_num:
    print("정답입니다")

else:
    print("잘못된 입력입니다")

48

In [217]:
import random

ran_num = random.randrange(1, 101)
print(ran_num)

while True:
    user_num = int(input("임의의 숫자를 넣어주세요: "))

    if ran_num > user_num:
        print("숫자가 작습니다")

    elif user_num > ran_num:
        print("숫자가 큽니다")

    else:
        print("정답입니다")
        break  # 정답을 맞추면 루프를 종료

# 루프를 빠져나왔을 때 실행되는 코드
print("게임 종료")

9
임의의 숫자를 넣어주세요: 2
숫자가 작습니다
임의의 숫자를 넣어주세요: 9
정답입니다
게임 종료

In [220]:
ran_num = random.randrange(1, 101)
print(ran_num)

for i in range(3):
    num = int(input("숫자를 넣어라"))

    if ran_num > num:
        print("숫자가 작습니다 ")

    elif num > ran_num:
        print("숫자가 큽니다")

    else:

        print(f"{i+1}번 만에 맞췄습니다.")
        break

23
숫자를 넣어라23
1번 만에 맞췄습니다.
기회를 모두 사용 하셨습니다 답은 23이었습니다

In [235]:
l = ['가위','바위','보']


for _ in range(5):
    com_choice = random.choice(l)

    user_choice = input("가위, 바위, 보 중에 하나를 입력해주세요: ")

    print(f"컴퓨터: {com_choice}, 사용자: {user_choice}")

    if user_choice == com_choice:
        print("비겼습니다!")
    elif (
        (user_choice == '가위' and com_choice == '보') or
        (user_choice == '바위' and com_choice == '가위') or
        (user_choice == '보' and com_choice == '바위')
    ):
        print("이겼습니다!")
    else:
        print("졌습니다!")

가위, 바위, 보 중에 하나를 입력해주세요: 보
컴퓨터: 보, 사용자: 보
비겼습니다!
가위, 바위, 보 중에 하나를 입력해주세요: 가위
컴퓨터: 보, 사용자: 가위
이겼습니다!
가위, 바위, 보 중에 하나를 입력해주세요: 가위
컴퓨터: 바위, 사용자: 가위
졌습니다!
가위, 바위, 보 중에 하나를 입력해주세요: 가위
컴퓨터: 보, 사용자: 가위
이겼습니다!
가위, 바위, 보 중에 하나를 입력해주세요: 가위
컴퓨터: 보, 사용자: 가위
이겼습니다!