In [ ]:
https://colab.research.google.com/drive/17NnZyroWloeSDDYPGb7WBQwMUmxCkU9H?usp=sharing

In [6]:
def solution(data):
    l = [0,0]
    for i in data:
        if i % 2 == 0:
            l[0] +=1

        else:
            l[1] +=1
    return l

In [7]:
solution([1, 2, 3, 4, 5])

[2, 3]

In [12]:
def solution(data):
    l = [0,0]
    return list(filter(lambda x : x % 2 == 0 , data))

In [13]:
solution([1, 2, 3, 4, 5])

[2, 4]

In [18]:
def solution(array, height):

    return list(filter(lambda x : x > height,array))

In [19]:
solution([149, 180, 192, 170],167)

[180, 192, 170]

In [ ]:
머쓱이는 친구들과 369게임을 하고 있습니다. 369게임은 1부터 숫자를 하나씩 대며 3, 6, 9가 들어가는 숫자는 숫자 대신 3, 6, 9의 개수만큼 박수를 치는 게임입니다. 머쓱이가 말해야하는 숫자 order가 매개변수로 주어질 때, 머쓱이가 쳐야할 박수 횟수를 return 하도록 solution 함수를 완성해보세요.

머쓱이는 친구들과 369게임을 하고 있습니다. 369게임은 1부터 숫자를 하나씩 대며 3, 6, 9가 들어가는 숫자는 숫자 대신 3, 6, 9의 개수만큼 박수를 치는 게임입니다. 머쓱이가 말해야하는 숫자 order가 매개변수로 주어질 때, 머쓱이가 쳐야할 박수 횟수를 return 하도록 solution 함수를 완성해보세요.

def solution(before, after):
    answer = 0
    return answer

In [28]:
def solution(before, after):
    a = sorted(before)
    b = sorted(after)
    if a == b:
        return 1
    else:
        return 0

In [29]:
solution("olleh", "hello")

1

In [59]:
def solution(n):
    l = []
    for i in range(n):
        if i % 3 != 0 and '3' not in str(i):
            l.append(i)
    return l

In [60]:
solution(40)

[1, 2, 4, 5, 7, 8, 10, 11, 14, 16, 17, 19, 20, 22, 25, 26, 28, 29]

In [87]:
def solution(emergency):
    return [sorted(emergency,reverse=True). index(i)+1 for i in emergency]

In [88]:
solution([3, 76, 24]) # 3 1 2

[3, 1, 2]

In [90]:
def solution(data):

    for i in data

    sorted_data = sorted(data,reverse=True)

    return

In [ ]:
solution([3, 76, 24]) # 3 1 2

In [ ]:
def solution(data):
    result = []  # 결과를 저장할 빈 리스트 생성

    for i in data:
        sorted_data = sorted(data, reverse=True)  # 각 요소마다 내림차순으로 정렬
        index_in_sorted = sorted_data.index(i)  # 정렬된 리스트에서 현재 요소의 인덱스 찾기
        rank = index_in_sorted + 1  # 인덱스는 0부터 시작하므로 실제 순위는 인덱스 + 1
        result.append(rank)  # 결과 리스트에 현재 요소의 순위 추가

    return result

In [106]:
소수 = [True] * 120
소수[0] = 소수[1] = False

for i in range(4, 120, 2):
    소수[i] = False

for i in range(6, 120, 3):
    소수[i] = False

In [62]:
# 문제1

def solution(data):


    return sorted([sum(x[1:]) > 350 for x in data],key=lambda x : x[0])

In [ ]:
solution([['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]])

In [ ]:
result = sorted([name for name, *scores in data if sum(scores) > 350])
print(result)

In [161]:
# 문제 1
def solution(data):

    return sorted([name for name, *scores in data if sum(scores) > 350])

In [69]:
solution([['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]])

['Licat']

In [132]:
list_a =  {'A동': 63007, 'B동': 63010, 'C동': 63002}

list_a['A동']

63007

In [158]:
# 문제2
def solution(data):

    return sorted(data[0], key = lambda x : data[1][x.split(' ')[1]])

In [159]:
solution([['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}])

['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

In [160]:
#문제3
def solution(data):
    return sorted(data[0], key=lambda x: data[1][x])

In [138]:
solution([['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}])

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [140]:
a = ['Moby Dick', 'To Kill a Mockingbird', '1984']

In [143]:
b = {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}

In [144]:
b['Moby Dick']

1851